<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User register</title>
</head>
<body>
<h2>User register</h2>
<form th:action="@{/save}" method="post" th:object="${user}">
    <div>
        <label for="country">Country</label>
        <div>
            <select id="country" th:field="*{country}">
                <option value="">-- Select country --</option>
                <option th:each="country: ${listCountries}" th:text="${country.getName()}" th:value="${country.getId()}"></option>
            </select>
        </div>
        <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
    </div>
    <br />
    
    <div>
        <label>Roles</label>
        <div th:each="role: ${listRoles}">
            <input type="checkbox" th:field="*{roles}" th:value="${role.getId()}" />
            <label th:for="${#ids.prev('roles')}" th:text="${role.getName()}"></label>
        </div>
        <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
    </div>
    <br />
    
    <div>
        <label for="identifier">Identifier</label>
        <div>
            <input type="text" id="identifier" th:field="*{identifier}" />
        </div>
        <div th:if="${#fields.hasErrors('identifier')}" th:errors="*{identifier}"></div>
    </div>
    <br />
    
    <div>
        <label for="firstName">First Name</label>
        <div>
            <input type="text" id="firstName" th:field="*{firstName}" />
        </div>
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>
    <br />
    
    <div>
        <label for="lastName">Last Name</label>
        <div>
            <input type="text" id="lastName" th:field="*{lastName}" />
        </div>
        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>
    <br />
    
    <div>
        <label for="username">Username</label>
        <div>
            <input type="text" id="username" th:field="*{username}" />
        </div>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>
    <br />
    
    <div>
        <label for="password">Password</label>
        <div>
            <input type="password" id="password" th:field="*{password}" />
        </div>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <br />
    
    <div>
        <label for="email">Email</label>
        <div>
            <input type="email" id="email" th:field="*{email}" />
        </div>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <br />

    <div>
        <label for="count">Count</label>
        <div>
            <input type="number" id="count" th:field="*{count}" />
        </div>
        <div th:if="${#fields.hasErrors('count')}" th:errors="*{count}"></div>
    </div>
    <br />

    <div>
        <label for="birthday">Birthday</label>
        <div>
            <input type="date" id="birthday" th:field="*{birthday}" placeholder="yyyy-MM-dd" />
        </div>
        <div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
    </div>
    <br />
    
    <div>
        <div>
            <input type="submit" value="SAVE" />
        </div>
    </div>
</form>
</body>
</html>
