<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User register</title>
</head>
<body>
<h2>User register</h2>
<form th:action="@{/save}" method="post">
    <div>
        <label for="username">Username</label>
        <div>
            <input type="text" name="username" id="username" th:value="${user.username}" />
        </div>
        <div th:if="${errors != null && errors.containsKey('username')}" th:text="${errors.get('username')}"></div>
    </div>
    <div>
        <label for="password">Password</label>
        <div>
            <input type="password" name="password" id="password" />
        </div>
        <div th:if="${errors != null && errors.containsKey('password')}" th:text="${errors.get('password')}"></div>
    </div>
    <div>
        <label for="email">Email</label>
        <div>
            <input type="email" name="email" id="email" th:value="${user.email}" />
        </div>
        <div th:if="${errors != null && errors.containsKey('email')}" th:text="${errors.get('email')}"></div>
    </div>
    <div>
        <div>
            <input type="submit" value="SAVE" />
        </div>
    </div>
</form>
</body>
</html>
